body
{
	background: rgb(167,236,179);
	background: linear-gradient(90deg, rgba(167,236,179,1) 0%, rgba(78,205,102,1) 35%, rgba(54,172,75,1) 100%);
}
.title_div
{
	width: 100%;
	text-align: left;
	margin: 2%;
	color: #4ecd66;
}
nav
{
	background-color: #FFF;
	color: #4ecd66;
	/*background-color: #4ecd66;*/
}
nav ul a
{
	color:#4ecd66;
}
nav ul a:hover
{
	background-color: #4ecd66;
	color: #FFF;
}
.selected
{
	background-color: #4ecd66 !important;
	color: #FFF !important;
}
.logo
{
	height: 100%;
	margin-left: 2%;
	/*padding: 10%;*/
	width: auto;
	display: inline-block;
}
.title_name
{
	display: inline-block;
	position: absolute;
	margin-left: 0%;
	color: #4ecd66;
}
.brand-logo
{
	padding-left: 10px !important;
	color: #4ecd66 !important;
}
.modal .modal-content
{
	padding: 0% !important;
}
.row
{
	margin-bottom: 0% !important;
}
.card
{
	/*box-shadow: 1px 1px 5px 1px #222;*/
	margin:1% !important;
	padding: 1%;
	min-height: 30%;
	/*background-color: #FFF*/
/*	border:2px solid black;
*/}
.box
{
	border:2px solid black;
}
/*.s3
{
	box-shadow: 1px 1px 5px 1px #222;
	margin:1%;
	padding: 1%;
	border:2px solid black;
}
.s7
{
	border:2px solid black;
}*/
.marquee {
  overflow: hidden;
}
.title_article
{
	color: #57ce6d;
	text-align: center;
	background-color: #EEE;
	padding: 2%;
}

